<div class="login-signup">
    <div container class="container">
      <div class="forms-container">
            <div class="signin-signup">
                <div class="sign-in-form">
                    <h2 class="title">Lấy lại mật khẩu</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input
                            type="text"
                            placeholder="Nhập email"
                            [(ngModel)]="email"
                            (keydown.enter)="forgotPassword()"
                        />
                        @if (!checkEmail) {
                            <span class="error"><small id="email-help" class="p-error">Vui lòng nhập email.</small></span>
                        }
                    </div>
                    <input type="submit" value="Xác nhận" (click)="forgotPassword()" class="btn btn-success solid" />
                    <div class="w-25">
                        <a [routerLink]="['/dang-nhap']" style="margin-left: -20px;" id="back-to-login">Quay lại trang đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>