<div class="wrapper">
  <div class="sidebar d-grid align-content-between">
    <div>
      @for (item of tabControls; track item) { @if (tabIndexSelected ==
      item.index) {
      <div
        class="tab-icon active-tab"
        (click)="clickTab(item.index)"
        title="item.title"
      >
        <div>
          <i [className]="item.iconClass"></i>
        </div>
      </div>
      } @else {
      <div class="tab-icon" (click)="clickTab(item.index)" title="item.title">
        <div>
          <i [className]="item.iconClass"></i>
        </div>
      </div>
      } }
    </div>

    <div class="tab-icon" style="cursor: pointer; font-size: 1.2rem">
      <i class="fa fa-solid fa-gear"></i>
    </div>
  </div>

  <div class="body-vchat">
    <div class="body-vchat-left">
      <div class="body-vchat-left-header">
        <div class="box-avatar d-flex align-items-center">
          <nz-avatar (click)="showModalPersonalInformation()" nzSize="large" nzIcon="user" [nzSrc]="currentUser.Avatar | pipeHostFile"></nz-avatar>
        </div>
        <div class="box-fullname">
          <span>{{currentUser.UserName}}</span>
        </div>
        <div class="box-add-user-group d-flex align-items-center">
          <span class="icon-control" (click)="showModalCreateGroup()" title="Tạo nhóm chat">
            <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          </span>
        </div>
      </div>
      <div class="tab-header">
        <div class="tab-header-search">
          <input
            type="text"
            nz-input 
            class="tab-header-search-input"
            id="search-contact"
            [(ngModel)]="keySearch"
            autocomplete="false"
            placeholder="Tìm kiếm tên, email, sđt"
          />
          <button type="button" class="tab-header-search-btn">
            <i class="fa fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      <div class="tab-body">
        <div [hidden]="tabIndexSelected != 0">
          <app-list-messages #listMessage (onClick)="onClickMessage($event)"></app-list-messages>
        </div>
        <div [hidden]="tabIndexSelected != 2">
          <app-list-contact
            #listContact
            (onClick)="onClickContact($event)"
          ></app-list-contact>
        </div>
        <div [hidden]="tabIndexSelected != 4">
          <app-list-messages-search 
            #listMessageSearch
            (keySearch)="searchContact()"
            (onClick)="onClickMessage($event)"
            ></app-list-messages-search>
        </div>
      </div>
    </div>
    <div class="body-vchat-right">
      @switch (tabIndexSelected) { 
        @case (0) {
          <app-detail-message [group]="filter.group"></app-detail-message>
        } 
        @case(1){
        }
        @case(2){
          <app-contact-detail [contact]="filter.contact"></app-contact-detail>
        }
        @case (4) {
          <app-detail-message [group]="filter.group"></app-detail-message>
        }
        @default {
          <app-default [title]="'Hãy bắt đầu những cuộc trò chuyện cùng người thân và bạn bè'"></app-default>
        } 
      }
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="createGroupModal"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="this.createGroupModal = false;"
>
    <ng-template #modalTitle>Tạo nhóm</ng-template>

    <ng-template #modalContent>
      <div class="row mb-2 align-items-center">
        <label class="col-3" style="padding-left: 0;" for="name-group">Tên nhóm:</label>
        <input nz-input class="col-9" placeholder="Nhập tên nhóm" id="name-group" [(ngModel)]="filter.groupName" type="text" />
      </div>

      <div class="row mb-2 align-items-center">
        <label class="col-3" style="padding-left: 0;" for="name-user-search">Tên người dùng:</label>
        <input nz-input class="col-9" placeholder="Nhập tên, số điện thoại, email liên hệ" id="name-user-search" (input)="searchUserAddGroup()" [(ngModel)]="keySearchUser" type="text" />
      </div>

      <div class="d-flex" style="flex-wrap: wrap" *ngIf="memberSelected != null">
        <ng-container *ngFor="let member of memberSelected">
          <div class="box-member-in-group">
            <!-- <div *ngIf="member.fieldStamp1" class="box-member-in-group"> -->
            <div style="font-size: 0.8rem">{{member.UserName}}</div>
            <span
              (click)="removeMemberToGroup(member)"
              class="remove-member btn btn-close"
            ></span
            >
          </div>
        </ng-container>
      </div>

      <div class="list-contact-adding">
        <ng-container *ngIf="loadingSearch">    
          <ul class="list-unstyled">
            <li>
              <div class="box-group-skeleton">
                <nz-skeleton [nzAvatar]="true" [nzActive]="true"></nz-skeleton>
              </div>
            </li>
            <li>
              <div class="box-group-skeleton">
                <nz-skeleton [nzAvatar]="true" [nzActive]="true"></nz-skeleton>
              </div>
            </li>
            <li>
              <div class="box-group-skeleton">
                <nz-skeleton [nzAvatar]="true" [nzActive]="true"></nz-skeleton>
              </div>
            </li>
          </ul>
        </ng-container>
        <ul class="list-unstyled">
          <li *ngFor="let user of userSearch">
            <!-- <div *ngIf="member.fieldStamp1" class="box-member-in-group"> -->
            <div class="contacts">
              <div class="contacts-avatar">
                <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="user.Avatar | pipeHostFile"></nz-avatar>
                <span class="ms-2">{{ user.UserName }}</span>
              </div>
              <div class="contacts-control">
                <div
                  (click)="addUserToGroup(user)"
                  class="contacts-control-sendmess"
                >
                  <span nz-icon nzType="plus" nzTheme="outline"></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" class="btn me-2" (click)="this.createGroupModal = false;">Huỷ</button>
      <button nz-button nzType="primary" class="btn btn-primary" (click)="createGroup()">Tạo mới</button>
    </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="personalInformation"
  [nzTitle]="modalTitlePersonal"
  [nzContent]="modalContentPersonal"
  [nzFooter]="modalFooterPersonal"
  nzWidth="750px"
  (nzOnCancel)="handleCancelPersonal()"
>
  <ng-template #modalTitlePersonal>Thông tin cá nhân</ng-template>

  <ng-template #modalContentPersonal>
    <div class="row">
      <div class="col-md-4">
        <div id="spinner-container" class="d-flex align-items-center flex-column">
          <img nz-image class="profile-img" [nzSrc]="currentUser.Avatar | pipeHostFile" alt="Img">
          <label class="text-center btn btn-success btn-sm margin-top-md mt-2" for="edit-user-avatar">
              Chọn ảnh
            <input type="file" id="edit-user-avatar" style="display: none" (change)="onloadAvatar($event)"
                   accept=".jpg, .png, .jpeg, .gif, .bmp|image/*" />
          </label>
          <!-- <img class="profile-img" [src]="currentUser.Avatar | pipeHostFile" alt="Img">
          <div class="text-center pt-2">
              <button (click)="chooseFile()" type="button" class="btn btn-success btn-sm margin-top-md">
                  Chọn ảnh
              </button>
              <input [hidden]="true" #inpFile type="file" (change)="onloadAvatar($event)"
                  accept=".jpg, .png, .jpeg, .gif, .bmp|image/*" />
          </div> -->
        </div>
      </div>
      <div class="col-md-8">
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Họ và tên</label>
                      <input nz-input class="form-control form-control-sm" [(ngModel)]="userProfile.UserName" type="text" />

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Giới tính</label>
                      <select [(ngModel)]="userProfile.Gender" class="form-control form-control-sm">
                          <option value="">---</option>
                          <option value="Nam">Nam</option>
                          <option value="Nữ">Nữ</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Ngày sinh</label>
                      <nz-date-picker [(ngModel)]="userProfile.Dob" class="form-control form-control-sm" [nzFormat]="dateFormat"></nz-date-picker>

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Số điện thoại</label>
                      <input nz-input class="form-control form-control-sm" [(ngModel)]="userProfile.PhoneNumber" type="text" />

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Email</label>
                      <input nz-input class="form-control form-control-sm" [(ngModel)]="userProfile.Email" [disabled]="true" type="text" />
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Địa chỉ</label>
                      <textarea rows="4" class="form-control" nz-input [(ngModel)]="userProfile.Address"></textarea>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </ng-template>
  <ng-template #modalFooterPersonal>
    <button nz-button class="btn btn-default float-start btn-sm" (click)="handleCancelPersonal()">Đóng</button>
    <button nz-button class="btn btn-primary btn-sm me-2" (click)="updateProfile()">Cập nhật</button>
    <button nz-button class="btn btn-danger btn-sm float-right" (click)="signOut()">Đăng xuất</button>
  </ng-template>
</nz-modal>

<ngx-spinner type="ball-scale-multiple"><p style="color: white" > Loading... </p></ngx-spinner>