<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Danh sách khách hàng </h3>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
            <th></th>
            <th>Họ và tên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Lần đăng nhập cuối</th>
            <th>Số tin đã nhắn</th>
            <th>Ngày đăng kí</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @for(client of clients; track $index){
                <tr>
                  <td><img src="{{ client.User.Avatar | pipeHostFile }}" alt="" /></td>
                  <td>{{client.User.UserName}}</td>
                  <td>{{client.User.PhoneNumber}}</td>
                  <td>{{client.User.Email}}</td>
                  <td>{{client.User.LastLogin}}</td>
                  <td>{{client.MessageCount}}</td>
                  <td>{{client.User.Created | date:'short'}}</td>
                  <td>
                    <button title="Xem chi tiết" class="btn-option link-info"><i class="fa fa-solid fa-eye"></i></button>
                  </td>
                </tr>
            }
        </tbody>
      </table>
      <div class="d-flex align-items-center">
        <button nz-button nzType="default" (click)="getTopUser(1)">
          <span nz-icon nzType="double-left" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzType="default"
          (click)="getTopUser(pageIndex - 1)"
        >
          <span nz-icon nzType="left" nzTheme="outline"></span>
        </button>
        @for (index of totalPage; track $index) {
            <button nz-button nzType="default" (click)="getTopUser(index)">
              {{ index }}
            </button>
          }
          <button
            nz-button
            nzType="default"
            (click)="getTopUser(pageIndex + 1)"
          >
            <span nz-icon nzType="right" nzTheme="outline"></span>
          </button>
          <button
            nz-button
            nzType="default"
            (click)="getTopUser(totalPage[totalPage.length - 1])"
          >
          <span nz-icon nzType="double-right" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </div>
  