<div class="login-signup">
  <div container class="container">
    <div class="forms-container">
          <div class="signin-signup">
              <div class="sign-in-form">
                  <h2 class="title">Lấy lại mật khẩu</h2>
                  <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input
                      type="password"
                      placeholder="Mật khẩu mới"
                      required
                      [(ngModel)]="newPassword"
                      (keydown.enter)="onSubmitResetPassword()"
                    />
                    @if (invalidPassword) {
                    <span class="error"><small id="password-help" class="p-error">Vui lòng nhập mật khẩu.</small></span>
                    }
                  </div>
                  <input type="submit" value="Xác nhận" (click)="onSubmitResetPassword()" class="btn btn-success success solid" />

                </div>
            </div>
        </div>
    </div>
</div>