
<div class="container-scroller">
    <app-navbar [admin]="currentAdmin"></app-navbar>
    <div class="container-fluid page-body-wrapper" style="padding-top: 70px;">
      <app-sidebar></app-sidebar>
  
      <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
  
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/src/assets/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/src/assets/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/src/assets/admin/vendors/moment/moment.min.js"></script>
  <script src="/src/assets/admin/vendors/daterangepicker/daterangepicker.js"></script>
  <script src="/src/assets/admin/vendors/chartist/chartist.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/src/assets/admin/js/off-canvas.js"></script>
  <script src="/src/assets/admin/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/src/assets/admin/js/dashboard.js"></script>
  <!-- End custom js for this page -->
  